/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/*
    0 - 600px: Phone
    600 - 900px: Tablet portrait
    600-1200px: Tablet lanscape
    1200-1800 normal styles
    1800px: Big desktop
    */
.section-previus {
  padding: 25rem 0;
  margin-top: -20vh;
  background-image: url(../img/previus.jpg);
  background-size: cover; }
  @media (max-width: 56.25em) {
    .section-previus {
      background-size: 100% 100%;
      margin-top: -28vh; } }

.dvd-release {
  padding: 10rem 0;
  background-image: url(../img/dvd.jpg);
  background-size: cover;
  margin-top: -10vh; }
  @media (max-width: 56.25em) {
    .dvd-release {
      background-size: 100% 100%; } }

.fans-comments {
  padding: 20rem 0;
  position: relative;
  margin-top: -10vh; }

.form-opinion {
  width: 100%;
  padding: 20rem 0;
  margin-top: -10vh;
  background: linear-gradient(to bottom right, black, red); }

.credits {
  width: 100%;
  padding: 20rem 0;
  margin-top: -10vh;
  background: linear-gradient(to bottom right, black, white); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-left-1 {
  margin-left: 1rem; }

.u-margin-bottom-2 {
  margin-bottom: 1.5rem; }

.u-margin-bottom-4 {
  margin-bottom: 4rem; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-center {
  margin: 0 auto; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 100px; }

.btn:hover {
  box-shadow: 5px 5px black; }

.btn:active {
  background-color: black;
  color: white;
  box-shadow: 0px 0px black; }

.btn--white {
  background-color: white;
  color: black;
  border: 1px solid black;
  font-weight: 3rem; }

.btn--black {
  background-color: black;
  color: white;
  font-weight: 3rem; }

.btn--red {
  display: inline-block;
  background-color: red;
  color: white;
  margin-top: 1rem; }

.composition {
  position: relative; }
  @media (max-width: 56.25em) {
    .composition {
      margin-bottom: 2px; } }
  .composition__photo {
    width: 70%;
    box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    position: absolute;
    transition: all .2s;
    outline-offset: 1rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333333%; } }
    .composition__photo-p1 {
      left: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition__photo-p1 {
          top: 0; } }
    .composition__photo-p2 {
      left: 50%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo-p2 {
          top: 0;
          left: 0%; } }
    .composition__photo-p3 {
      left: 10%;
      top: 20rem; }
      @media (max-width: 56.25em) {
        .composition__photo-p3 {
          top: 0;
          left: 0%; } }
    .composition__photo:hover {
      outline: 1.5rem solid white;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
      @media (max-width: 56.25em) {
        .composition__photo:hover {
          transform: scale(1.3); } }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.box {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 50rem; }
  .box__side {
    height: 50rem;
    transition: all .8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 20px 20px 10px black; }
    .box__side--front {
      background-color: white; }
    .box__side--back {
      transform: rotateY(180deg); }
      .box__side--back-1 {
        background: linear-gradient(-90deg, #BFB8B7, #919B92);
        padding-top: 50%;
        margin: 0 auto;
        text-align: center; }
  .box:hover .box__side--front {
    transform: rotateY(180deg); }
  .box:hover .box__side--back {
    transform: rotateY(0); }
  .box__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: saturation;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .box__picture--1 {
      background-image: url(../img/dvd1.jpg); }
    .box__picture--2 {
      background-image: url(../img/dvd2.jpg); }
    .box__picture--3 {
      background-image: url(../img/dvd3.jpg); }
  .box__heading {
    font-size: 2.8rem;
    position: absolute;
    top: 20rem;
    left: 2rem;
    text-transform: uppercase;
    color: white;
    background-color: black; }
  .box__details {
    font-size: 2.8rem;
    list-style-type: none;
    text-align: center;
    margin-top: 3rem;
    text-shadow: 2px 2px 1px black; }

.comment {
  width: 75%;
  opacity: 0.8;
  margin: 0 auto;
  padding: 6rem;
  transform: skewX(-14deg);
  background-color: white; }
  .comment:not(:last-child) {
    margin-bottom: 8rem; }
  .comment > * {
    transform: skewX(14deg); }
  .comment__photo {
    width: 15rem;
    height: 15rem;
    background-color: red;
    margin-right: 1rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); }
  .comment__image {
    height: 100%; }

.form-review {
  background-image: url(../img/thanos.jpg);
  background-size: cover;
  height: 35rem; }
  .form-review__input-section {
    background-color: white;
    -webkit-clip-path: polygon(0 0, 81% 0, 54% 100%, 0% 100%);
    clip-path: polygon(0 0, 81% 0, 54% 100%, 0% 100%);
    width: 100%;
    height: 100%;
    opacity: 0.9; }
    .form-review__input-section--content {
      margin-left: 10rem; }
    .form-review__input-section--radio {
      margin-top: 1rem;
      margin-bottom: 1rem; }

.input-text {
  display: block;
  padding: 1.5rem;
  margin-bottom: 2rem;
  width: 50%;
  color: black;
  font-weight: 10rem;
  font-size: 2rem; }
  .input-text:focus {
    background: black;
    color: white; }

.link {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
  font-size: 2rem;
  text-transform: uppercase; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute; }

.rating__star {
  font-size: 3rem;
  color: black; }

.icon {
  text-align: center; }
  .icon__img {
    height: 20rem;
    width: 20rem; }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  color: #26082C;
  text-shadow: 2px 2px white; }
  .heading-primary--principal {
    display: block;
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 3.5rem; }
    @media (max-width: 37.5em) {
      .heading-primary--principal {
        font-size: 2rem; } }
  .heading-primary--bottom {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1.74rem; }
    @media (max-width: 37.5em) {
      .heading-primary--bottom {
        font-size: 1rem; } }

.heading-secondary {
  text-shadow: 2px 2px #26082C;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: white;
  letter-spacing: 2px; }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem; } }

.heading-tertiary {
  font-size: 2rem;
  text-shadow: 2px 2px #26082C;
  text-transform: uppercase;
  font-weight: 800;
  color: red;
  text-align: center; }

.heading-fourty {
  text-shadow: 4px 4px black;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  text-align: center; }
  @media (max-width: 37.5em) {
    .heading-fourty {
      font-size: 2rem; } }

.heading-review {
  text-shadow: 4px 4px white;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 800;
  color: red; }
  @media (max-width: 37.5em) {
    .heading-review {
      font-size: 1.5rem; } }

.heading-fivety {
  text-shadow: 4px 4px white;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 800;
  color: #26082C;
  text-align: center; }

.paragraph {
  color: black;
  font-weight: 800;
  font-size: 1.8rem; }
  @media (max-width: 37.5em) {
    .paragraph {
      font-size: 1.5rem; } }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.paragraph-2 {
  color: #26082C;
  font-weight: 700;
  font-size: 1.6rem; }
  .paragraph-2:not(:last-child) {
    margin-bottom: 3rem; }
  @media (max-width: 37.5em) {
    .paragraph-2 {
      font-size: 1rem; } }

.header {
  position: relative;
  height: 95vh;
  background-image: url(../img/avengers.jpg);
  background-size: cover;
  clip-path: polygon(49% 0, 100% 1%, 100% 90%, 50% 100%, 0 90%, 0 0); }
  @media (max-width: 56.25em) {
    .header {
      background-size: 100% 80%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 73%, 0 100%); } }
  .header__text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 2rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 10rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 2rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc( (100% - 10rem) /2); }
  .row .col-1-of-3 {
    width: calc( (100% - 2 * 10rem) /3); }
  .row .col-1-of-4 {
    width: calc( (100% - 3 * 10rem) /4); }
  .row .col-2-of-3 {
    width: calc( 2* ((100% - 2 * 10rem) /3) + 10rem); }
  .row .col-2-of-4 {
    width: calc( 2* ((100% - 3 * 10rem) /4) + 10rem); }
  .row .col-3-of-4 {
    width: calc( 3* ((100% - 3 * 10rem) /4) + (2* 10rem)); }
