
$blackie: red;
$purple-principal: #965DEA;
$purple-soft: #26082C;
$white:white;
$grid-with:114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 10rem;
$gold: gold;
$red:red;
$grey-soft:#BFB8B7;
$grey-hard:#919B92;
$black:black;